<h1>プロフィール</h1>
<h2>メールアドレス</h2>
<p><%= current_user.email %></p>
<p><label>メールアドレス：</label> <%= current_user.email %></p>
<p><label>名前：</label> <%= current_user.name %></p>
<p><label>年：</label> <%= current_user.age %></p>